@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafb;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    /* align-items: center; */
}

.left-container{
    position: relative;
}

.left-container .left-background{
    display: inline-block;
    width: 35vw;
    height: 100vh;
}

.logo-container{
    position: absolute;
    top: 35vh;
    display: flex;
    background-color: rgba(189, 160, 188, 0.8);
    width: 35vw;
    padding: 1.5rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    font-size: 1.5rem;
}

.icon{
    width: 80px;
    height: 80px;
    filter: invert(100%) sepia(9%) saturate(7490%) hue-rotate(180deg) brightness(103%) contrast(107%);
}

.right-container{
    margin-top: 150px;
}

.middle{
    background-color: white;
    width: calc(100vw - 35vw);
    box-shadow: 0px 2px 8px 0px gray;
    padding: 1.5rem 0 2.5rem 1rem;
    margin: 4rem 0 2rem 0;
    color: rgb(59, 59, 59);
}

.form-child{
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
}

.form-child label{
    position: absolute;
    top: 12px;
    font-size: 0.8rem;
    font-weight: 650;
    color: rgb(71, 71, 71);
}

.form-child input{
    font-size: 1rem;
    width: 220px;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 3px;
    outline: none;
    padding: 5px 0 5px 5px;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-left: 60px;
}

.middle p{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 60px;
    padding-bottom: 1rem;
}

.header .italic{
    font-style: italic;
}

.header{
    width: 650px;
}

.header p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 60px;
    color: rgb(59, 59, 59)
}

.header .second-para{
    margin-top: 2.5rem;
}

.bottom > *{
    margin-left: 60px;
}

.bottom button{
    background-color: purple;
    font-size: 1rem;
    color: white;
    padding: 0.8rem 3rem;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.bottom button:hover{
    background-color: rgb(146, 50, 146);
}

.bottom button:active{
    background-color: rgb(89, 0, 89);
}

.bottom .login-link{
    text-decoration: none;
    color: purple;
    font-weight: 600;
    margin-left: 5px;
}

.bottom .login-link:hover{
    text-decoration: underline;
}

.bottom .login-text{
    font-weight: 600;
    color: rgb(59, 59, 59)
}

input:focus:invalid{
    /* outline: none; */
    border-color: red;
}

input:valid{
    border-color: lime;
}

.form-child:nth-child(5){
    position: relative;
}

.form-child .pass-error{
    font-size: 0.8rem;
    position: absolute;
    top: 70px;
    left: -60px;
    color: red;
}

@media screen and (max-width: 1020px){
    .header{
        width: 625px;
    }
}

@media screen and (max-width: 950px){
    .header{
        width: 450px;
    }

    form{
        width: 460px;
    }
}

